.wrapper.text-center
  h1 Modal Dialog
  p
    | When PayJS is initialized with a 
    code &lt;button&gt;
    |  or 
    code &lt;a&gt;
    | , the UI appears over the page when that element is clicked:
  br
  div
    button#paymentButton.btn.btn-primary Pay Now
    br
    br
    h5 Results:
    p(style='width:100%')
      pre.
        <code id="paymentResponse"></code>
script(type='text/javascript') window.sageInit = !{initialization}
script(type='text/javascript').
  PayJS(['PayJS/UI', 'jquery'],
  function($UI, $) {
    sageInit.elementId = 'paymentButton';
    sageInit.addFakeData = true;
    $UI.Initialize(sageInit);
    $UI.setCallback(function($RESP) {
      console.log($RESP.getResponse());
      $("#paymentResponse").text($RESP.getRawResponse());
    });
  });
